.Sign {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 500px;
  align-items: center;
  background-color: white;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px gray;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 300px;
}
input {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid;
}
span {
  font-size: 15px;
  margin-top: 10px;
}
select {
  border: 1px solid;
}
.confirm {
  display: flex;
}
button {
  width: 100px;
  margin-left: 10px;
  border: none;
  background-color: rgb(27, 147, 255);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
